<mat-card class="content-wrapper"
          *ngIf="item$ | async as repo">
  <div class="header-wrapper">
    <h2>{{repo.name}}</h2>
    <h4>{{repo.owner}}</h4>
  </div>

  <mat-divider [inset]="true"></mat-divider>

  <div class="body-wrapper">
    <p>Url: <a href="{{repo.url}}">{{repo.url}}</a></p>
    <p>Description: {{repo.description}}</p>
    <p>Language: {{repo.language}}</p>
    <p>Created at: {{repo.creationDate.toISOString().split('T')[0]}}</p>
    <p>Updated at: {{repo.updateDate.toISOString().split('T')[0]}}</p>
    <p>Repository id: {{repo.id}}</p>
    <p>Owner id: {{repo.ownerId}}</p>
  </div>

  <mat-divider [inset]="true"></mat-divider>

  <div class="counters-wrapper">

    <div class="counter-wrapper">
      <mat-icon>remove_red_eye</mat-icon>
      <span>{{repo.watchers}}</span>
    </div>

    <div class="counter-wrapper">
      <mat-icon>stars</mat-icon>
      <span>{{repo.stars}}</span>
    </div>

    <div class="counter-wrapper">
      <mat-icon>timeline</mat-icon>
      <span>{{repo.forks}}</span>
    </div>

  </div>
</mat-card>

<app-loader [isLoading]="isLoading$"></app-loader>
