<mat-card class="content-wrapper"
          *ngIf="item">
  <div class="header-wrapper">
    <h2>{{item.name}}</h2>
    <h4>{{item.owner}}</h4>
  </div>

  <mat-divider [inset]="true"></mat-divider>

  <div class="body-wrapper">
    <p>Url: <a href="{{item.url}}">{{item.url}}</a></p>
    <p>Description: {{item.description}}</p>
    <p>Language: {{item.language}}</p>
    <p>Created at: {{item.creationDate.toISOString().split('T')[0]}}</p>
    <p>Updated at: {{item.updateDate.toISOString().split('T')[0]}}</p>
    <p>Repository id: {{item.id}}</p>
    <p>Owner id: {{item.ownerId}}</p>
  </div>

  <mat-divider [inset]="true"></mat-divider>

  <div class="counters-wrapper">

    <div class="counter-wrapper">
      <mat-icon>remove_red_eye</mat-icon>
      <span>{{item.watchers}}</span>
    </div>

    <div class="counter-wrapper">
      <mat-icon>stars</mat-icon>
      <span>{{item.stars}}</span>
    </div>

    <div class="counter-wrapper">
      <mat-icon>timeline</mat-icon>
      <span>{{item.forks}}</span>
    </div>

  </div>
</mat-card>
